
* {
   margin: 0px;
   padding: 0px;
}

body
{
  background-color:#FFF0F5;
  #background-color:#F5F5DC;
  font-family:Roboto, sans-serif;
  font-size:16px;
  color:#000000;
}

a
{
	color:#457D72;
	font-weight: bold;
	text-decoration: none;
}

a:hover
{
	#color:#E1F4F0;
	font-weight: bold;
	text-decoration: underline;
}

.header
{
	background-color:#F5F5F5;
	width: 100%;
	margin:auto;
	text-align: left;
	padding-bottom:10px;
	font-family: Candara;
	font-size: 16px;
}

.container
{

}

.content
{
	width:auto;
	vertical-align: top;
	padding:10px;
	overflow:hidden;
}

.menu
{
	margin:0px;
	width:200px;
	vertical-align: top;
	background-color:#BBE8DF;
	#background-color:#eeeeee;
	padding:10px;
	float:left;
}

.menu_top
{
	text-align: center;
	padding-bottom: 10px;
}

.footer
{
}

hr
{
	border: 1px solid #666666;
}

h2
{
	font-size:24px;
	padding-bottom: 10px;
}

p
{
	padding-bottom:30px;
	width:500px;
}

ul, ol
{
	list-style-type:none;
}

li
{
	padding-bottom:3px;
}
