
* {
   margin: 0px;
   padding: 0px;
}

body
{
  background-color:#FFF0F5;
  #background-color:#F5F5DC;
  font-family:Roboto, sans-serif;
  font-size:16px;
  color:#000000;
}

a
{
	color:#457D72;
	font-weight: bold;
	text-decoration: none;
}

a:hover
{
	#color:#E1F4F0;
	font-weight: bold;
	text-decoration: underline;
}

.column
{
	width:600px;
	margin:auto;
}

.column_wide
{
	width:850px;
	margin:auto;
}

.header
{
	#background-color:#0A0A0A;
	width: 100%;
	margin:auto;
	text-align: left;
	padding-top:10px;
	padding-bottom:10px;
	font-family: Candara;
	font-size: 36px;
	vertical-align: middle;
}

.content
{
	vertical-align: top;
	padding:10px;
}

.menu
{
	margin:0px;
	width:300px;
	vertical-align: top;
	background-color:#BBE8DF;
	#background-color:#eeeeee;
	padding:10px;
	float:left;
	font-size:12px;
}

.menu_top
{
	text-align: center;
	padding-bottom: 10px;
}

.footer
{
	font-size: 12px;
	padding-top: 30px;
	text-align: center;
}

hr
{
	border: 1px solid #666666;
}

h2
{
	font-size:24px;
	padding-top:15px;
	padding-bottom:15px;
}

p
{
	padding-top:15px;
	padding-bottom:15px;
	width:600px;
}

ul, ol
{
	list-style-type:none;
}

li
{
	padding-bottom:3px;
}

.code_inline
{
	background-color: #BBE8DF;
	color: #242729;
	font-family: Consolas, Menlo, Monaco, &quot;Lucida Console&quot;, &quot;Liberation Mono&quot;, &quot;DejaVu Sans Mono&quot;, &quot;Bitstream Vera Sans Mono&quot;, &quot;Courier New&quot;, monospace, sans-serif;
	font-size: 13px; white-space: pre-wrap;
}